In [1]:
import pandas as pd
import os

In [2]:
file_to_load = "Cleaned Drilling Parameters.csv"
df = pd.read_csv(file_to_load)

In [3]:
df

,Well Name,Bit RPM (RPM),Bit Torque (kft_lb),Depth of Cut (in),Gamma (api),Mechanical Specific Energy (ksi),On Bottom ROP (ft_per_hr),Rotary RPM (RPM),Total Pump Output (gal_per_min),Weight on Bit (klbs)
0,<<<<<<< Updated upstream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Well 1,177.0,3.0,0.061,1.211953e+02,6.280000e+01,53.39,8.06,604.15,56.0
3,Well 1,221.0,3.0,0.015,1.216004e+10,1.747549e+10,14.66,29.54,769.07,34.3
4,Well 1,221.0,1.0,0.013,1.098020e+02,9.770000e+01,10.12,29.62,771.56,14.1
...,...,...,...,...,...,...,...,...,...,...
34797,Well 5,0.0,-43.0,0.000,-3.579423e+06,1.100000e+00,3582.11,0.00,0.00,61.6
34798,Well 5,0.0,-43.0,0.000,-3.782271e+06,1.100000e+00,3785.11,0.00,0.00,62.3
34799,Well 5,0.0,-43.0,0.000,-3.926343e+06,1.100000e+00,3929.29,0.00,0.00,63.5
34800,Well 5,0.0,-43.0,0.000,-4.197949e+06,1.100000e+00,4201.10,0.00,0.00,63.8
34801,>>>>>>> Stashed changes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
from sqlalchemy import create_engine

from config import db_password

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Drilling"

engine = create_engine(db_string)

In [6]:
df.to_sql(name='wells', con=engine)

In [10]:
pd.read_sql('wells', con=engine)

,index,Well Name,Bit RPM (RPM),Bit Torque (kft_lb),Depth of Cut (in),Gamma (api),Mechanical Specific Energy (ksi),On Bottom ROP (ft_per_hr),Rotary RPM (RPM),Total Pump Output (gal_per_min),Weight on Bit (klbs)
0,0,<<<<<<< Updated upstream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Well 1,177.0,3.0,0.061,1.211953e+02,6.280000e+01,53.39,8.06,604.15,56.0
3,3,Well 1,221.0,3.0,0.015,1.216004e+10,1.747549e+10,14.66,29.54,769.07,34.3
4,4,Well 1,221.0,1.0,0.013,1.098020e+02,9.770000e+01,10.12,29.62,771.56,14.1
...,...,...,...,...,...,...,...,...,...,...,...
34797,34797,Well 5,0.0,-43.0,0.000,-3.579423e+06,1.100000e+00,3582.11,0.00,0.00,61.6
34798,34798,Well 5,0.0,-43.0,0.000,-3.782271e+06,1.100000e+00,3785.11,0.00,0.00,62.3
34799,34799,Well 5,0.0,-43.0,0.000,-3.926343e+06,1.100000e+00,3929.29,0.00,0.00,63.5
34800,34800,Well 5,0.0,-43.0,0.000,-4.197949e+06,1.100000e+00,4201.10,0.00,0.00,63.8
34801,34801,>>>>>>> Stashed changes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN